<template name="EditorSaveButton">

    <section id="entry-actions" class="js-publish-splitbutton splitbutton-save">
        <button type="button" class="button-save js-publish-button">
            Save Draft
        </button>
        <button class="options up publish-options-menu"> <!-- isOpen -->
            <span class="hidden">Post Settings</span>
        </button>
        <ul class="ghost-popover fade-in editor-options overlay publish-options-menu">
            <li class="">
                <a href="#">
                    Publish Now
                </a>
            </li>
            <li class="active">
                <a href="#">
                    Save Draft
                </a>
            </li>
        </ul>
    </section>

</template>