<template name="PostPreview">

    <header class="floatingheader">
        <button type="button" class="button-back" href="#">Back</button>
        <button type="button" class="unfeatured" title="Feature this post">
            <span class="hidden">Star</span>
        </button>
        <small>
            <span class="status">{{#if isPublished}}Published{{else}}Written{{/if}}</span>
            <span class="normal">by</span>
            <span class="author">{{post.author}}</span>
        </small>
        <section class="post-controls">
            <a href="#" class="post-edit" title="Edit Post"></a>
                <span class="hidden">Edit Post</span>
            <button class="post-settings" title="Post Settings">
                <span class="hidden">Post Settings</span>
            </button>
            <div class="ghost-popover fade-in post-settings-menu menu-drop-right">
                {{> PostSettingsMenu}}
            </div>
        </section>
    </header>

     <section class="content-preview-content">
        <div class="wrapper">
            <h1>{{post.title}}</h1>
            {{{post.html}}}
        </div>
    </section>

</template>