<template name="PostTagsInput">

    <section id="entry-tags" class="left">
        <label class="tag-label" for="tags" title="Tags">
            <span class="hidden">Tags</span>
        </label>
        <div class="tags">
            <span class="tag">Sample Tag</span>
        </div>
        <input type="hidden" class="tags-holder" id="tags-holder">
        <input id="tags" class="tag-input" type="text">
        <ul class="suggestions overlay" style="display: none;left;0">
            Suggestion Tag
        </ul>
    </section>

</template>