<template name="AdminNav">

    <header id="global-header" class="navbar">
        <button class="ghost-logo ghost-logo-button">
            <span class="hidden">Ghost</span>
        </button>
        <a class="ghost-logo ghost-logo-link" href="{{pathFor 'Home'}}">
            <span class="hidden">Ghost</span>
        </a>
        <nav id="global-nav" role="navigation">
            <ul id="main-menu" >
                <li title="Content" class="content js-close-sidebar {{isActiveRoute 'Posts'}}">
                    <a href="{{pathFor 'Posts' _id=latestPostId}}">Content</a>
                </li>
                <li title="New Post" class="editor js-close-sidebar {{isActiveRoute 'PostsNew'}}">
                    <a href="{{pathFor 'PostsNew'}}">New Post</a>
                </li>
                <li title="Settings" class="settings js-close-sidebar {{isActiveRoute 'Settings'}}">
                    <a href="{{pathFor 'Settings'}}">Settings</a>
                </li>

                {{#with user}}
                <li id="usermenu" class="usermenu subnav">
                    <button class="dropdown">
                        {{#if hasImage}}
                        <img class="avatar" src="{{gravatar}}" alt="{{displayName}}'s profile picture" />
                        {{else}}
                        <img class="avatar" src="/shared/img/user-image.png" alt="Profile picture" />
                        {{/if}}
                        <span class="name">{{displayName}}</span>
                    </button>
                    <ul class="ghost-popover fade-in overlay">
                        <li class="usermenu-profile"><a href="#">Your Profile</a></li>
                        <li class="divider"></li>
                        <li class="usermenu-signout"><a href="#">Sign Out</a></li>
                    </ul>
                </li>
                {{/with}}
            </ul>
        </nav>
    </header>

</template>